apiVersion: kubeproxy.config.k8s.io/v1alpha1
bindAddress: {{ NODE_IP }}
clientConnection:
  kubeconfig: /opt/kubernetes/cfg/kube-proxy.kubeconfig
clusterCIDR: {{ DOCKERNET }}
healthzBindAddress: {{ NODE_IP }}:10256
kind: KubeProxyConfiguration
metricsBindAddress: {{ NODE_IP }}:10249
mode: "ipvs"
